body {
    font-family: sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.card {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}

.card h1 {
    color: #000000;
}

.card p {
    color: #000000;
    font-size: 16px;
}

#cake {
    margin-top: 40px;
    width: auto;
}