body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #262b36; 
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #40ff69; 
}

h2 {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #4126da; 
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  font-weight: 400;
  color: #8626da;
}

p {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #b326da;
}

.myBtn {
  padding: 10px 25px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  color: #333333;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
}

.myBtn:hover {
  opacity: 0.9;
}


.dice {
  display: inline-block;
  margin: 0 15px;
}

.dice img {
  width: 180px;  
  height: auto;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.85rem;
  color: #ffffff;
  padding-bottom: 40px;
}
