
#title {
  background-color: #14717d;
  position: relative;
  overflow: hidden;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  color: aliceblue;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: aliceblue;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Poppins", sans-serif;
  color: #8f8f8f;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.icon {
  color: #14717d;
  padding: 0 0 20px;
}

.icon:hover {
  color: #000000;
}

.title-image {
  width: 60%;
  transform: rotate(20deg);
  z-index: 0;
  position: absolute;
  top: -20px;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #14717d;
}

.testimonial-image {
  width: 40%;
  border-radius: 50%;
  margin: 30px 0 20px 0;
  margin-top: 50px;
}

#press {
  text-align: center;
  background-color: #14717d;
}

.press-logo {
  width: 10%;
  margin: 0 20px 50px;
}

.introduction-pricing {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
}

#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-header {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
}

.pricing-column {
  padding: 5%;
}

#cta {
  background-color: #14717d;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}


/* Footer Section */
#footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 3% 0;
}

.social-icon {
  font-size: 2rem;
  color: #25b8f7;
  margin: 0 15px;
  margin-bottom: 10px;
}

/* media queries for responsiveness */
@media (max-width: 768px) {
  #title {
    text-align: center;
    padding-bottom: 40%;
  }
  .title-image {
    width: 80%;
    left: 10%;
    transform: rotate(0);
  }
}

/* COGS3 studyBuddy specific styles go here. */